<template>
  <div id="about" class="mx-auto text-center">
    <h2 class="animated  pulse delay-2s"> La Mêlée, 1er réseau d’experts du numérique en Occitanie !</h2>
    <div class="row mx-auto">
      <div class="col-sm-6">
        <div class="card animated slideInLeft delay-2s">
          <div class="card-body">
            <h5 class="card-title"><span> - </span> L'association <span> - </span></h5><br>
            <p class="card-text text-justify"><strong>Depuis 19 ans, l’association la Mêlée anime le secteur du numérique et rassemble ses nombreux utilisateurs et experts du numérique sur l’ensemble de la Région Occitanie.</strong>
            Au cœur d’un écosystème particulièrement dynamique et mouvant, La Mêlée est un véritable <strong>laboratoire d’idées et de projets.</strong> L’association fédère aujourd’hui un réseau de plus de<strong> 600 adhérents et 20 000 professionnels </strong>
            : qu’ils soient indépendants, startuppeurs, chercheurs, investisseurs, étudiants, grands groupes, institutionnels / chefs d’entreprises / citoyens ou simplement curieux, ils ont tous en commun la passion du digital et l’innovation.</p><br><br>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><a href="https://www.lamelee.com/equipe-ca/">Notre équipe </a></button> 
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card animated slideInRight delay-2s">
          <div class="card-body">
            <h5 class="card-title"><span> - </span> Nos missions <span> - </span></h5><br>
            <p class="card-text">Notre mission est de participer au rayonnement de la Région Occitanie en matière de transformation numérique et d’innovation. Nous souhaitons avant tout :</p>
            <ul class="text-justify">
              <li><strong>booster la connaissance</strong> dans ces domaines</li>
              <li><strong>mettre en relation les entreprises</strong> par le prisme de notre réseau d’experts</li>
              <li><strong>accompagner les jeunes sociétés innovantes </strong>en leur servant de tremplin pour l’avenir</li>
              <li><strong>soutenir l’innovation et l’entrepreneuriat</strong> par le biais de nos évènements et accélérer la mise sur le marché</li>
              <li><strong>découvrir et développer les talents</strong></li>
              <li>participer à <strong>l’inclusion numérique</strong> sur les territoires.</li>
            </ul><br>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><a href="https://www.lamelee.com/transformation-numerique/">En savoir + </a></button> 
          </div>
        </div>
      </div>
    </div>
    <br><hr >
  </div>
</template>


<script>
export default {
  name: 'About',
  props: {
    msg: String
  }
}
</script>

<style scoped>
#about{
    height: auto;
    width: 85%;
    margin-bottom: 70px;   
}
h2{
    color:	#FF8152;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 5px;
    margin: 80px;
}
span{
  color: #330066;
}
.card{
    margin: 50px;
    height: 90%;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0 0 20px #FF8152, inset 0 0 20px #FF8152;
    padding: 20px;
}
h5{
    color: #FF8152;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 30px;
}
p, li{
    color: 	#330066;
}
button{
    border:1px solid #FF8152;
    color: #FF8152;
}
button:hover{
    background-color: #FF8152;
    border:none;
}
hr{
    border:1px solid 	#330066;
    margin-top: 80px;
}
a{color:#FF8152}
a:hover{color:#330066}
</style>