<template>
    <div id="actu" class="mx-auto">
        <div class="card w-75 mx-auto text-center">
            <div class="card-body">
                <h2 class="card-title"><span> - </span> Actualités <span> - </span></h2>
                <p class="card-text">Toujours curieux ? Pour avoir toute l'actu & connaitre nos prochains évènements .. </p><br>
                <button class="btn btn-outline-secondary my-2 my-sm-0 " type="submit"> 
                <a href="https://www.midenews.com/" target="blank" >c'est par ici</a></button> 
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Actu',
}
</script>

<style scoped>
#actu{
    height: 550px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/background-body.jpg);
    background-position: center;
}
h2{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color:#FF8152;
    font-size: 40px;
    letter-spacing: 5px;
}
span{
    color: #330066;
}
.card{
    border: 2px solid white;
    box-shadow: 0 0 20px #FF8152, inset 0 0 20px #FF8152;
    animation: blink 10s alternate infinite;
    animation-delay: 3s;
    height: 60%;
}
@keyframes blink {
    0%, 2%, 4%, 6%, 30%, 32%, 75%, 100%{opacity: 1}
    3%, 5%, 31%, 76% {opacity: 0.7}
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #330066;
}
button{
  border:1px solid #FF8152;
  color: #FF8152;
  margin:50px;
}
button:hover{
    background-color: #FF8152;
    border: none;   
}
a { color:#FF8152;}
a:hover { color:#330066; }
</style>