<template>
    <div class="mx-auto">
        <div class="box-formulaire mx-auto ">
        <h2>Formulaires d’adhésion en ligne</h2><br>
        <form @submit="answer" class="mx-auto">
            
            <div class="form-group">
                <label for="exampleInputEmail1">Email address :</label>
                <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            
            
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
       <router-link to="/"><button type="button" class="btn btn-outline-dark">Retour à l'accueil</button></router-link>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Adherent',
    data(){
        return {
            email: ''
        }
    },
    methods: {
        answer: function() {
            alert("Vous faite à présent partie de l'équipe ! Un email de confirmation vous a été envoyer sur "+ this.email);
            
        }
    }
}
</script>


<style scoped>
div{
    height: auto;
}
form{
    width: 60%;
    height: auto;
}
.box-formulaire{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color:#FF8152;
    font-size: 40px;
    letter-spacing: 5px;
}
button{
    border:1px solid #FF8152;
    color: #FF8152;
    background-color: transparent;
}
button:hover{
    background-color: #FF8152;
    border: none;   
}
</style>