<template>
  <div id="footer" class="mx-auto">
  <!-- Footer -->
<footer class="page-footer font-small ">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">L'Association</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Services</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Actu</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Partenaires</a>
        </h6>
      </div>
      <!-- Grid column -->

      
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Retrouvez toute notre actualité en vous inscrivant a la NewsLetter : </p>
        <form action="">
            
            <div class="input-group mb-1">
  <input type="text" class="form-control" placeholder="Indiquez votre email ici"  aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">S'inscrire</button>
  </div>
</div>
            
        </form>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
   

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">
<br>
        <div class="mx-auto text-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/association.lamelee/">
            <ion-icon name="logo-facebook" size="large"></ion-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/La_Melee">
            <ion-icon name="logo-twitter" size="large"></ion-icon>
          </a>
          <!-- Google +-->
          <a class="yt-ic" href="https://www.youtube.com/channel/UCq5pA3TRtJJGsOzuLw3bVXQ">
            <ion-icon name="logo-youtube" size="large"></ion-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/company/la-m-l-e/?originalSubdomain=fr">
            <ion-icon name="logo-linkedin" size="large"></ion-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/asso_lamelee/">
           <ion-icon name="logo-instagram" size="large"></ion-icon>
          </a>
         

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© Copyright La Mêlée 2017 - 2019
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </div>
</template>


<script>
export default {
  name: 'Footer',
  props: {
    msg: String
  }
}
</script>

<style scoped>
#footer{
   
    height: auto;
    width: 100%;
    
}
ion-icon{
    margin:20px;
}
footer{
      background-image: url(../assets/background-body.jpg);

     margin-bottom: 40px;
     color:white;
    
     /* border: 2px solid white;
    box-shadow: 0 0 20px #FF8152, inset 0 0 20px #FF8152;
    /* padding: 15px; */
    /* color:white; */ 
}
.container{
    background: transparent;
}
a{
    color:#FF8152;
}
button{
  border:1px solid #FF8152;
  color: #FF8152;
  
 
}
button:hover{
    background-color: #FF8152;
    border: none;
    
}
hr{
    border: 1px solid white;
    box-shadow: 0 0 20px #FF8152, inset 0 0 20px #FF8152;
}
</style>