<template>
  <div class="header">
    <div class="box_title">
      <div class="jumbotron bg-transparent ">
        <div class="neon">
          <h1 class="">La Mêlée</h1>
          <h2 class="display-4 animated fadeInUp delay-2s"><span class="">- La Mêlée, c'est un incubateur, du coworking & des bureaux à louer -</span> </h2>
          <hr class="my-4">
          <h3> Hub de l'économie / Digital en Occitanie</h3>
            <div class="htag">
              <p class="animated flipInX delay-3s">#TransfoDigital</p>
              <p class="animated flipInX delay-4s">#OpenInno</p>
              <p class="animated flipInX delay-5s">#Territoires</p>
              <p class="animated flipInX delay-3s">#Entrepreuneuriat</p>
              <p class="animated flipInX delay-4s">#Talents </p>
              <p class="animated flipInX delay-5s">#InclusionNumérique</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style scoped>
.jumbotron{
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 5px;
}
h1{
    -webkit-text-stroke : 2px white;
    color:transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105px;
    font-weight: 900;
    letter-spacing: 5px;
    margin-top: 40px;
    text-shadow: 5px 5px 20px #FF8152;
} 
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
}
hr{
    border: 1px solid white;
    box-shadow: 0 0 20px #FF8152, inset 0 0 20px #FF8152;
    width: 70%
}
.htag{
  display: flex;
  justify-content: center;
  width: 75%;
  flex-wrap: wrap;
  height: auto;
  text-align: center;
}
.htag p{
  margin-right: 10px;
  font-size: 15px;
}
.header{
  color:white;
  background-image: url(../assets/background-body.jpg);
}
.neon{
    width: 1050px;
    height: 500px;
    border: 6px solid white;
    box-shadow: 0 0 20px #FF8152, inset 0 0 20px #FF8152;
    animation: blink 10s alternate infinite;
    animation-delay: 3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@keyframes blink {
    0%, 2%, 4%, 6%, 30%, 32%, 75%, 100%{opacity: 1}
    3%, 5%, 31%, 76% {opacity: 0.7}
}
</style>