<template>
<nav class="navbar navbar-expand-lg  bg-transparent text-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav mr-auto text-white text-center">
          <li class="nav-item active">
            <router-link to="/"><p class="nav-link">L'Association </p></router-link>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#actu">Actualités</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#partenaire">Partenaires</a>
          </li>
        </ul>
        <span class="form-inline my-2 my-lg-0">
           <router-link to="/adherent"><button type="button" class="btn btn-outline-dark">Adhérer</button></router-link>
        </span>
      </div>
    </nav>  

</template>

<script>
export default {
  name: 'Navabar',
  props: {
  }
}

</script>

<style scoped>
/* ---------> NAVBAR */
nav{
     background-image: url(../assets/background-body.jpg);
}
.nav-link{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
}
.nav-link:hover{
    text-shadow: 5px 5px 10px #FF8152;  
}
button{
    border:1px solid #FF8152;
    color: #FF8152;
}
button:hover{
    background-color: #FF8152;
    border: none;   
}
</style>