<template>
    <div id="partenaire" class="mx-auto text-center">
        <section id="partenaire">
            <div id="bloc_partenaire" class="w-75 p-3 mx-auto" >
                <h2 class=" text-center"><span> - </span> Nos partenaires <span> - </span></h2>
                    <div id="bloc_logo_partenaire" class="d-flex flex-row">
                        <div id="slider"> 
                            <figure>
                                <a href="https://www.actua.ad/fr" target="_blank">
                                <img src="https://www.actua.ad/sites/all/themes/bootstrap-business/logo_header.svg" alt="" >
                                </a>
                                <a href="https://www.carcassonne-agglo.fr/fr/index.html" target="_blank">
                                <img src="https://www.carcassonne-agglo.fr/skins/carcassonne/resources/img/logo.png" alt="">
                                </a>
                                <a href="https://www.credit-agricole.fr/ca-toulouse31/particulier.html" target="_blank">
                                <img src="https://www.credit-agricole.fr/content/dam/assetsca/cr831/npc/images/logos-cr/Logo_format_classique_140x100.png" alt="">
                                </a>
                                <a href="https://www.groupe-cargo.com/" target="_blank">
                                <img src="https://www.groupe-cargo.com/sites/groupecargo/themes/groupecargo/images/header/logo.png" alt="">
                                </a>
                                <a href="http://www.enseeiht.fr/fr/index.html" target="_blank">
                                <img src="http://www.enseeiht.fr/skins/enseeiht-new/resources/img/logo-enseeiht.png" alt="">
                                </a>
                                <a href="https://www.harmonie-mutuelle.fr/web/tout-harmonie" target="_blank">
                                <img src="https://www.harmonie-mutuelle.fr/mhm-portal-design/images/Mobility/common/logo-harmonie-mutuelle.png" alt="">
                                </a>
                                <a href="https://www.aerospace-valley.com/" target="_blank">
                                <img src="https://www.aerospace-valley.com/profiles/aerospace_valley/themes/aero/logo.png" alt="">
                                </a>
                                <a href="https://www.actua.ad/fr" target="_blank">
                                <img src="https://www.actua.ad/sites/all/themes/bootstrap-business/logo_header.svg" alt="" >
                                </a>
                                <a href="https://www.carcassonne-agglo.fr/fr/index.html" target="_blank">
                                <img src="https://www.carcassonne-agglo.fr/skins/carcassonne/resources/img/logo.png" alt="">
                                </a>
                                <a href="https://www.credit-agricole.fr/ca-toulouse31/particulier.html" target="_blank">
                                <img src="https://www.credit-agricole.fr/content/dam/assetsca/cr831/npc/images/logos-cr/Logo_format_classique_140x100.png" alt="">
                                </a>
                                <a href="https://www.groupe-cargo.com/" target="_blank">
                                <img src="https://www.groupe-cargo.com/sites/groupecargo/themes/groupecargo/images/header/logo.png" alt="">
                                </a>
                                <a href="http://www.enseeiht.fr/fr/index.html" target="_blank">
                                <img src="http://www.enseeiht.fr/skins/enseeiht-new/resources/img/logo-enseeiht.png" alt="">
                                </a>
                                <a href="https://www.harmonie-mutuelle.fr/web/tout-harmonie" target="_blank">
                                <img src="https://www.harmonie-mutuelle.fr/mhm-portal-design/images/Mobility/common/logo-harmonie-mutuelle.png" alt="">
                                </a>
                                <a href="https://www.aerospace-valley.com/" target="_blank">
                                <img src="https://www.aerospace-valley.com/profiles/aerospace_valley/themes/aero/logo.png" alt="">
                                </a>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
  name: 'Partenaire',
  props: {
  }
}
</script>

<style scoped>
#partenaire{
    height: 250px;
    margin-top: 150px;
    margin-bottom: 100px;
}
h2{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color:#FF8152;
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}
span{
    color: #330066;
}
#bloc_logo_partenaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}
div#slider{ 
    width: 100%;
    max-width: 900px; 
    overflow: hidden;
    height: 200px;
}
div#slider figure{ 
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: slidy 25s infinite;
}
img{ 
    width: 200px; 
    height: auto;
    margin-right: 30px;
    float: left;
}
@keyframes slidy {
    0%{left: 0%;}
    20%{left: 0%;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}
}

</style>