<template>
  <div id="service" class="mx-auto">
    <h2 class="text-center display-4 animated  fadeInDown delay-2s"><span class=""> - </span> Nos services <span class="animated infinite bounce delay-2s"> - </span></h2><br>
    <div class="card-deck">
      <div class="card text-center">
        <div class="card-footer text-center">
          <h3>Tiers-lieux</h3>
        </div>
        <div>
          <a href="https://lacantine-toulouse.org/nova-melee" target="blank" class="mx-auto"> <img src="../assets/Ecosysteme_Cantine600px.png"  class="card-img-top mx-auto" alt="..."></a>
          <a href="https://lacantine-toulouse.org/nova-melee" target="blank" class="mx-auto"> <img src="../assets/Ecosysteme_Nova600px.png"  class="card-img-top mx-auto" alt="..."></a>
        </div>
        <div class="card-body">
          <h5 class="card-title">La Cantine & Novamêlée</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-footer text-center">
          <h3>Pré-incubateur</h3>
        </div>
          <a href="https://www.lestarter.org/" class="mx-auto" target="blank"><img src="../assets/Le-starter-zebre-bleu-400.png" class="card-img-top mx-auto" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title">Le starter</h5>
          </div>
        </div>
        <div class="card ">
          <div class="card-footer text-center">
            <h3>Media</h3>
          </div>
          <a href="https://www.lamelee.com/media-mid-enews/" class="mx-auto" target="blank"><img src="../assets/Ecosystème-MidEnews.png" class="card-img-top mx-auto" alt="..."></a>
          <div class="card-body text-center">
              <h5 class="card-title">Mid E-News</h5>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Service',
}
</script>

<style scoped>
#service{
    height: auto;
    width: 85%;
    margin-top: 60px;
    margin-bottom: 50px;
    margin: 50px;   
}
img{
    width: 200px;
    height: 200px;
    align-items: center;
}
.card{
    margin-bottom: 40px;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0 0 20px #FF8152, inset 0 0 20px #FF8152;
    color:#330066;
}
h2{
    text-transform: uppercase;
    margin-bottom: 50px;
    color:	#FF8152;
    font-family: 'Big Shoulders Display', cursive;
    letter-spacing: 5px;
}
span{
    color:#330066;
}
button{
    border:1px solid #FF8152;
    color: #FF8152;
}
</style>