<template>
  <div>
    <Navabar/>
    <router-view/>
    <Footer/>
  </div>
</template>

<script>
import Navabar from './components/Navabar.vue'
import Footer from './components/Footer.vue'


export default {
  name: 'app',
  components: {
    Navabar,
    Footer
  }
}
</script>

<style>
#app {
 font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: #FBFBFB;
  color:#330066;
}
</style>
