<template>
  <div id="app">
    <Header/>
    <About/>
    <Service/>
    <Actu/>
    <Partenaire/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import About from './components/About.vue'
import Service from './components/Service.vue'
import Actu from './components/Actu.vue'
import Partenaire from './components/Partenaire.vue'

export default {
  name: 'home',
  components: {
   
    Header,
    About,
    Service,
    Actu,
    Partenaire,
   
  }
}
</script>

<style>
#app {
 font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: #FBFBFB;
  color:#330066;
}
</style>
